@use '@angular/material' as mat;
@use 'sass:map';

span {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  box-sizing: border-box;
}


.drag-over {
  background-color: var(--mat-sys-on-primary-container); /*I want the shade 60 but i don't understand how material theming works*/
}

:host:hover {
  background-color: rgba(230, 147, 102, 0.47);
}
