@use "sass:map";

.grid-item {
  background-color: #e6c4a4;
  outline: 1px solid rgb(168, 109, 76);
  box-sizing: border-box;
  aspect-ratio: 1/1;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
  box-sizing: border-box;
  /* max-width: 50vw; */
  max-height: 500px;
  aspect-ratio: 11/9;
  min-width: 225px;
  min-height: 225px;
}

.column-left {
  grid-column: 1;
}

.column-right, .column-left {
  outline: 1px solid rgb(var(--mat-sys-on-secondary));
  background-color: var(--mat-sys-on-secondary-container);
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  height: 100%;
  width: 100%;
  display: grid;
  grid-row: 1 / span 9;
}

.column-right {
  grid-column: 11;
}

@media screen and (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(11, 1fr);
    aspect-ratio: 9/12;

  }

  .column-left {
    grid-row: 1;
    grid-column: 1/span 9;
  }

  .column-right {
    grid-row: 11;
    grid-column: 1/span 9;
  }

}
