<div class="grid-container">
  <shogi-hand class="column-left"
              [komas]="shogiBoard.goteKomas"
              player="gote"

  >
  </shogi-hand>

  @for (tile of boardView(); track $index) {
    <shogi-tile class="grid-item" (click)="handleClick($event,tile)"
                [tile]="tile" [ngClass]="{'selected-koma': tile===selectedPiece}">
    </shogi-tile>
  }

  <shogi-hand class="column-right"
              [komas]="shogiBoard.senteKomas"
              player="sente"
  >
  </shogi-hand>
  <button mat-icon-button color="primary" (click)="handleUndoClick()">
    <mat-icon>undo</mat-icon>
  </button>
</div>





