<div class="grid-container">
  <shogi-hand class="column-left"
              [komas]="shogiBoard.goteKomas"
              player="gote"
              (komaSelected)="handleKomaSelectFromHand($event)"
  >
  </shogi-hand>
  @for (tile of boardView(); track $index) {
    <shogi-tile class="grid-item"
                [tile]="tile"
                (tileSelected)="handleTileSelectFromBoard($event)"
                (tileDropped)="handleTileDrop($event)"
                (tileDoubleClicked)="handleTileDblClick($event)">
    </shogi-tile>
  }


  <shogi-hand class="column-right"
              [komas]="shogiBoard.senteKomas"
              player="sente"
              (komaSelected)="handleKomaSelectFromHand($event)"
  >
  </shogi-hand>
  <button mat-icon-button color="primary" (click)="handleUndoClick()">
    <mat-icon>undo</mat-icon>
  </button>
</div>





