<div class="grid-container">
  <shogi-hand class="column-left"
              [komas]="goteKomas"
              player="gote"
              (komaSelected)="handleKomaSelectFromHand($event)"
  >
  </shogi-hand>
  @for (row of boardTiles; track $index) {
    @for (tile of row; track $index) {
      <shogi-tile class="grid-item" [tile]="tile"
                  (tileSelected)="handleTileSelectFromBoard($event)"
                  (tileDropped)="handleTileDrop($event)"
                  (tileDoubleClicked)="handleTileDblClick($event)">
      </shogi-tile>
    }
  }
  <shogi-hand class="column-right"
              [komas]="senteKomas"
              player="sente"
              (komaSelected)="handleKomaSelectFromHand($event)"
  >
  </shogi-hand>
  <button mat-icon-button color="primary" (click)="handleUndoClick()">
    <mat-icon>undo</mat-icon>
  </button>
</div>





